.startIE {
	width: 100%;
	height: 100%;
	
}

.normalIE {
	border: solid 2px white;
	width: 746px;
	height: 560px;
}

.mediumIE {
	border: solid 2px white;
	width: 1113px;
	height: 834px;
}

.maximizedIE {
	width: 100%;
	height: 100%;
}

.startMOZILLA {
	width: 100%;
	height: 100%;
}

.normalMOZILLA {
	border: solid 2px white;
	width: 742px;
	height: 556px;
}

.mediumMOZILLA {
	border: solid 2px white;
	width: 1113px;
	height: 834px;
}

.maximizedMOZILLA {
	width: 100%;
	height: 100%;
}

.start {
	border: solid 2px white;
	width: 746px;
	height: 560px;
}

.normal {
	border: solid 2px white;
	width: 746px;
	height: 560px;
}

.medium {
	border: solid 2px white;
	width: 1113px;
	height: 834px;
}

.maximized {
	width: 100%;
	height: 100%;
}
